/* https://piccalil.li/blog/a-modern-css-reset */

:root {

  --clr-primary-400: hsl(193, 38%, 86%);
  --clr-primary-500: hsl(150, 100%, 66%);

  --clr-neutral-300: hsl(217, 19%, 38%);
  --clr-neutral-400: hsl(217, 19%, 24%);
  --clr-neutral-500: hsl(218, 23%, 16%);

  --fs-100: .75rem;
  --fs-200: 1.25rem;
  --fs-300: 1.5rem;
  --fs-400: 1.75rem;
  --fs-500: 2rem;
  --fs-600: 2.5rem;
  --fs-700: 2.75rem;

  --fs-primary: var(--fs-400);
  --fs-secondary: var(--fs-100);

  --ff-primary: "Manrope", sans-serif;

  --fw-extra-bold: 800;

  --size-200: .5rem;
  --size-300: .75rem;
  --size-400: 1rem;
  --size-500: 1.25rem;
  --size-600: 1.5rem;
  --size-700: 2rem;
  --size-800: 2.5rem;
  --size-900: 3rem;
}

@media (max-width: 50em) {
  :root {
    --fs-400: 1.5rem;
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--ff-primary);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Utility Classes */

.fs-primary {
  font-size: var(--fs-primary);
}

.fs-secondary {
  font-size: var(--fs-secondary);
}

/* text colors */
.text-primary-400 {
  color: var(--clr-primary-400);
}
.text-primary-500 {
  color: var(--clr-primary-500);
}

.text-neutral-300 {
  color: var(--clr-neutral-300);
}
.text-neutral-400 {
  color: var(--clr-neutral-400);
}
.text-neutral-500 {
  color: var(--clr-neutral-500);
}

/* bg-colors */
.bg-primary-400 {
  background-color: var(--clr-primary-400);
}
.bg-primary-500 {
  background-color: var(--clr-primary-500);
}

.bg-neutral-300 {
  background-color: var(--clr-neutral-300);
}
.bg-neutral-400 {
  background-color: var(--clr-neutral-400);
}
.bg-neutral-500 {
  background-color: var(--clr-neutral-500);
}

/* font-weight */
.fw-extra-bold {
  font-weight: var(--fw-extra-bold);
}

/* font-size */
.fs-100 {
  font-size: var(--fs-100);
}
.fs-200 {
  font-size: var(--fs-200);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-600 {
  font-size: var(--fs-600);
}

.padding-400 {
  padding: var(--size-400);
}
.padding-500 {
  padding: var(--size-500);
}

.padding-inline-400 {
  padding-inline: var(--size-400);
}
.padding-inline-500 {
  padding-inline: var(--size-500);
}
.padding-inline-400 {
  padding-inline: 1rem;
}
.padding-inline-700 {
  padding-inline: var(--size-700);
}

.padding-block-400 {
  padding-block: var(--size-400);
}
.padding-block-500 {
  padding-block: var(--size-500);
}
.padding-block-600 {
  padding-block: var(--size-600);
}
.padding-block-700 {
  padding-block: var(--size-700);
}

.padding-top-500 {
  padding-top: var(--size-500);
}
.padding-top-400 {
  padding-top: var(--size-400);
}

/* Component Classes */

body {
  background-color: var(--clr-neutral-500);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin-inline: auto;
  width: min(500px, 100% - 2rem);

  background-color: var(--clr-neutral-400);
  text-align: center;
  text-wrap: wrap;
  border: none;
  border-radius: 10px;
}

.container p {
  letter-spacing: .4rem;
}

@media (max-width: 50em) {
  .container {
    line-height: 1.3;
  }
  .container p {
    letter-spacing: .2rem;
  }
}


.img {
  margin-inline: auto;
  background-image: url(../src/assets/images/pattern-divider-desktop.svg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

@media (max-width: 26.7em) {
  .img {
    background-image: url(../src/assets/images/pattern-divider-mobile.svg);
  }
}

.btn {
  position: relative;
  bottom: -1.7rem;
  padding: 1rem;
  border: none;
  border-radius: 100%;
  background-color: var(--clr-primary-500);
  cursor: pointer;
  transition: box-shadow .3s;
}

.btn:hover {
  box-shadow: 0px 0px 1rem .1rem var(--clr-primary-500);
}